:root {
  --white: #ffffff;       
  --black: #141414;       
  --gray: #2e2e2e;

  --glass:linear-gradient(to bottom, rgba(200, 200, 200, 0.1), rgba(200, 200, 200, 0.0));
} 


@font-face {
  font-family: 'Frutiger';
  src: url("./assets/Frutiger.ttf");
}

body {
  background: url("./assets/windows_7_168.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Frutiger";
  margin: 0;
  padding: 0;
}

.main {
  height: 100dvh;
}

footer {
  background: var(--glass);
  backdrop-filter: blur(2px);
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  flex-direction: row;
  align-items: center;
  height: 3rem;
  padding-left: 1rem;
}

.taskbar_app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 100%;
  margin: 20px;
  backdrop-filter: blur(2px);
  background:linear-gradient(to bottom,
        rgba(200, 200, 200, 0.5) 0%,
        rgba(200, 200, 200, 0.3) 20%,
        rgba(200, 200, 200, 0.0) 60%,
        rgba(200, 200, 200, 0.0) 100%
        );
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.taskbar_app img {
  width: 2rem;
  height: 2rem;
}
