:root {
  --primary-green: #4bb51a;    
  --secondary-green: #5bce25; 
  --highlight-green: #a4f180;

  --sky-blue: #76c5f0;      
  --light-blue: #c5e9fa;   
  --white: #ffffff;       
  --black: #141414;       
  --gray: #2e2e2e;

  --glass-light:linear-gradient(to bottom, rgba(200, 200, 200, 0.3), rgba(200, 200, 200, 0.0));
  --glass-dark: rgba(0, 0, 0, 0.2);      
} 


@font-face {
  font-family: 'Frutiger';
  src: url("./assets/Frutiger.ttf");
}

body {
  background: url("./assets/windows_7_168.jpg") no-repeat center center fixed;
  background-size: cover;
  position: relative;
  font-family: "Frutiger";
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 4px;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

img {
  width: 2rem;
  height: 2rem;
}
